/*--------------------------------------------------------- Index ---------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.main{
    justify-content: center;
    display: flex;
}

/*--------------------------------------------------------- Banner y Nav ---------------------------------------------------------*/

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background {
    width: 100%;
    height: auto;
    display: block;
}

.bg-dark{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 3;
    background-color: rgba(79, 79, 79, 0.5) !important;
    backdrop-filter: blur(20px);
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 3;
    background-color: rgba(79, 79, 79, 0.5);
    backdrop-filter: blur(20px);
}


.logo{
    display: flex;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-collapse ul{
    display: inline-flex;
    margin: auto;
    text-align: center;
}

.navbar-nav li{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
}

.navbar-nav li a{
    color: white;
    text-decoration: none;
}

.shop{
    display: flex;
    margin: 0 1rem;
}

.shop button{
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
}

/*--------------------------------------------------------- Home ---------------------------------------------------------*/

.info {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    width: 50%;
    border-radius: 10px;
}

.pExplore{
    padding: 10px 0px;
}

.explore{
    background-color: white;
    padding: 10px;
    color: black;
    text-decoration: none;
}


.catGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}

.card {
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::before {
    opacity: 1;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.about{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.imagen img{
    width: 40vw;
}

.infoAbout{
    width: 45%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.Contenido{
    margin: 150px;
}

.infoSec3{
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: space-between;
}

.section3{
    margin-top: 150px;
}

.section3img img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.infoSec3 p{
    color: rgb(182, 182, 182);
    font-weight: 600;
}
.frase p{
    color: rgb(182, 182, 182);
    font-weight: 600;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.destacados{
    margin-top: 150px;
}

.guide{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    gap: 1rem;
}

.imgGuide{
    max-width: 40vw;
}

.textGuide{
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1rem;
    height: fit-content;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
}

.textGuide p, .textGuide h2{
    padding: 20px
}

/*--------------------------------------------------------- Footer ---------------------------------------------------------*/


.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #000000be;
    padding: 15px 5vw 0px 5vw;
    font-size: 0.8rem;
    color: rgb(129, 129, 129);
}

.footerUl{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footerUl li{
    text-decoration: none;
    list-style: none;
}

.footerUl li a{
    text-decoration: none
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footerLogo, .footerUl {
        margin-bottom: 10px;
    }
}

/*--------------------------------------------------------- Botones ---------------------------------------------------------*/

.botones {
    display: flex;
    align-items: center;
}

.cta {
    width: 180px;
    height: 50px;
    border-radius: 35px;
    border: 2px solid #303829;
    background: -webkit-linear-gradient(right, #91aa7c, hwb(93 28% 61%));
    color: #fff;
    transition: width 0.7s;
    position: relative;
    overflow: hidden;
}

  .cta:hover {
    width: 250px;
    transition: width 0.7s;
  }
  
  .cta i {
    opacity: 1;
    transition: opacity 0.5s
  }
  
  .cta:hover i {
    opacity: 0;
    transition: opacity 0.5s
  }
  
  .cta .button-text {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 2px 2px 5px black;
   }
  
  .cta:hover .button-text {
    opacity: 1;
    transition: opacity 3s
  }

  .textGuide .botones{
    margin: auto;
    display: block;
  }


/*--------------------------------------------------------- Productos ---------------------------------------------------------*/

.carousel{
    margin-bottom: 5rem;
}


.carousel-item{
    height: 100vh;
}

.carousel-item img {
    object-fit: cover;
    object-position: center center;
    height: 100%;
    width: 100%;
}


a,
a:hover {
    text-decoration: none;
    color: white;
}

/* .sectionProducts {
    padding: 80px 0 54px;
} */

.sectionProducts .header {
    margin-bottom: 50px;
}

.sectionProducts .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.sectionProducts .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.sectionProducts .single-product {
    margin-bottom: 26px;
}

.sectionProducts .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.sectionProducts .single-product .part-1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}


.sectionProducts .single-product:hover .part-1 .overlay {
    opacity: 1;
}

.sectionProducts .single-product .img::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.sectionProducts .single-product .part-1 img {
    transition: transform 0.3s ease;
}

.sectionProducts .single-product:hover .part-1 img {
    transform: scale(1.1) rotate(5deg);
}

.sectionProducts #product-1 .part-1::before {
    /* background: url("../img/img\ cuadrada\ 1.jpg") no-repeat center; */
    background-size: cover;
	transition: all 0.3s;
}

.sectionProducts .single-product .part-1 .discount,
.sectionProducts .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: rgb(84, 99, 72);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.sectionProducts .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.sectionProducts .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
    z-index: 2;
}

.sectionProducts .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.sectionProducts .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.sectionProducts .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.sectionProducts .single-product .part-1 ul li a:hover {
    background-color:  #546348;
    color: white;
}

.sectionProducts .single-product .part-2 .product-title {
    font-size: 1rem;
}

.sectionProducts .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.sectionProducts .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.product-description {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}

.sectionProducts .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

ul{
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}

.accordion {
    margin: 1rem auto;
}

.accordion-button:not(.collapsed){
    background-color: #546348;
    color: white;
}

.accordion-button:focus{
    box-shadow: none;
}

.list-group-item:hover {
    background-color: #91aa7c;
}

/*--------------------------------------------------------- Alumnos / Staff ---------------------------------------------------------*/

.alumnos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.our-team{
    text-align: center;
    margin-bottom: 100px;
    z-index: 0;
    position: relative;
}
.our-team .pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{ opacity: 1; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .redes{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .redes{ opacity: 1; }
.our-team .redes li{ display: inline-block; }
.our-team .redes li a{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}
.our-team .redes li a:hover{
    background: #fff;
    color: #000;
}
.our-team .team-content{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ddd;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .team-content{ border: 2px dotted #546348; }
.our-team .team-info{
    width: 100%;
    color: #464646;
    position: absolute;
    bottom: 12px;
    left: 0;
}
.our-team .title{
    font-size: 20px;
    font-weight: 600;
    color: #464646;
    margin: 0 0 5px 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .title{ color: #546348; }
.our-team .post{
    display: block;
    font-size: 14px;
    color: #464646;
}

@media screen and (max-width: 1024px) {
    .row{
        display: block;
        margin: 3rem;
    }

    .our-team .title {
        font-size: 30px;
    }

    .our-team .post {
        font-size: 20px;
    }

    .our-team .team-info{
        bottom: 0px;
    }
}

@media screen and (max-width: 768px) {
    .our-team .title {
        font-size: 20px;
    }

    .our-team .post {
        font-size: 16px;
    }

    .our-team .team-info{
        bottom: 10px;
    }
}

/*--------------------------------------------------------- Contacto ---------------------------------------------------------*/

.body-contacto, .body-formulario {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contact{
  width: 600px;
  background: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 25px;
  margin: 3rem auto;
  border-radius: 10px;
}

.container .text{
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  background-color: #546348;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 2rem auto;
    position: relative;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background-color: transparent;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #546348;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.textarea label{
  width: 100%;
  bottom: 20px;
  background-color: transparent;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #546348;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

.boton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    text-transform: uppercase;
    margin: auto;
    font-size: 20px;
    letter-spacing: 4px;
    position: relative;
    background-color: #546348;
    border: none;
    color: #fff;
    padding: 10px;
    width: 150px;
    text-align: center;
    transition-duration: 0.4s;
    overflow: hidden;
    box-shadow: 0 5px 15px #303829;
    border-radius: 10px;
  }
  
  .button:hover {
    background: #91aa7c;
    color: #000;
  }
  
  .button:after {
    content: "";
    background: #3b4634;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
  
  .button:focus { outline:0; }

  @media (max-width: 576px) {

    .body-contacto, .body-formulario {
        background-image: url(../img/fondo2.jpg);
        background-size: auto;
    }

    .contact{
        width: 90%;
        margin-top: 5rem;
    }

    .container .text {
        font-size: 30px;
    }


    .button {
        font-size: 15px;
        width: 80%;
      }
  }
  

/*--------------------------------------------------------- Formulario ---------------------------------------------------------*/

.social{
    margin: 1rem auto;
    text-align: center;
    background: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 600px;
    padding: 2rem;
    border-radius: 10px;
}

.socialmedia{
    display: flex;
    margin: 2rem auto;
    column-gap: 5rem;
    background: -webkit-linear-gradient(right, #91aa7c, #546348);
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
}

.social h2, .form h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color: #546348;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1rem;
  }

.socialmedia:has(a:hover) a:not(:hover){
    scale: 0.8;
    opacity: 0.8;
    filter:blur(4px)
}

.socialmedia a{
    font-size: 35pt;
    color: #FFFFFF;
    cursor: pointer;
    transition: scale 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;

    &:hover{
        scale: 1.2;
    }
}

.form{
    width: 600px;
    background: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 25px;
    margin: 3rem auto;
    border-radius: 10px;
    font-size: 12pt;
}

.form ul{
    list-style-type: none;
}

@media (max-width: 1024px) {
    .form, .social{
        width: 90%;
        font-size: 20pt;
    }
}

@media (max-width: 576px) {

    .form{
        margin-top: 5rem;
    }

    .form, .social{
        padding: 1rem;
        font-size: 12pt;
    }

    .container .text {
        font-size: 30px;
    }

    .socialmedia{
        column-gap: 2.5rem;
    }

    .socialmedia a{
        font-size: 30pt;
    }
  }

/*--------------------------------------------------------- Detalles ---------------------------------------------------------*/


.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector button {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    background-color: #ff0000;
    cursor: pointer;
}

.quantity-selector input[type="number"] {
    width: 50px;
    padding: 0.375rem 0.75rem;
    text-align: center;
    border: 1px solid red;
}

.quantity-selector button:hover {
    background-color: #f0f0f0;
}

.quantity-selector button.quantity-decrease {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quantity-selector button.quantity-increase {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


.cuadrado{
    background-color: #000000;
    padding: 2rem;
    width: 500px;
}


/*--------------------------------------------------------- 404 ---------------------------------------------------------*/

.body-404 {
    background-image: url('../img/fondo3.jpg');
  }

  .error-text {
    font-size: 20vw;
    opacity: 50%;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

  .message {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    text-align: center;
    opacity: 50%;
  }

  .boton404{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button404 {
    background-color: rgba(59, 59, 59, 0.8);
    color: darkgray;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .button404:hover {
    background-color: rgb(48, 56, 41, 0.8);
    color: #91aa7c;
  }