@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    justify-content: center;
    display: flex;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background {
    width: 100%;
    height: auto;
    display: block;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: rgba(79, 79, 79, 0.5);
    backdrop-filter: blur(20px);
}

.secciones ul{
    display: inline-flex;
}

.listaNav li{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
}

.listaNav li a{
    color: white;
    text-decoration: none;
}

.shop button{
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
}

.info {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    width: 50%;
}

.pExplore{
    padding: 10px 0px;
}

.explore{
    background-color: white;
    padding: 10px;
    color: black;
    text-decoration: none;
}


.catGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}

.card {
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::before {
    opacity: 1;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.about{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.imagen img{
    width: 40vw;
}

.infoAbout{
    width: 40%;
    justify-content: center;
    align-items: center;
}
.Contenido{
    margin: 150px;
}

.infoSec3{
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: space-between;
}

.section3{
    margin-top: 150px;
}

.section3img img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.infoSec3 p{
    color: rgb(182, 182, 182);
    font-weight: 600;
}
.frase p{
    color: rgb(182, 182, 182);
    font-weight: 600;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.destacados{
    margin-top: 150px;
}

.guide{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.imgGuide{
    max-width: 100%;
}

.textGuide{
    padding: 20px
}

.textGuide p, .textGuide h2{
    padding: 20px
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #e5e5e5;
    padding: 15px 5vw 0px 5vw;
    font-size: 0.8rem;
}

.footerUl{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerUl li{
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

.footerUl li a{
    text-decoration: none
}

/*--------------------------------------------------------- Seccion: Productos ---------------------------------------------------------*/

.carousel{
    margin-bottom: 5rem;
}

/*--------------------------------------------------------- Botones ---------------------------------------------------------*/

.button-exp {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    justify-content: center;
    line-height: 28px;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .textGuide .button-exp{
    margin: 0 20px;
  }
  
  .button-exp:active,
  .button-exp:hover {
    outline: 0;
  }
  
  .button-exp:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (max-width: 768px) {
    .button-exp {
      font-size: 20px;
      min-width: 200px;
      padding: 14px 16px;
    }
  }

/*--------------------------------------------------------- Otra cosa we ---------------------------------------------------------*/

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

.sectionProducts {
    padding: 80px 0 54px;
}

.sectionProducts .header {
    margin-bottom: 50px;
}

.sectionProducts .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.sectionProducts .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.sectionProducts .single-product {
    margin-bottom: 26px;
}

.sectionProducts .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.sectionProducts .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.sectionProducts .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.sectionProducts #product-1 .part-1::before {
    background: url("../img/img\ cuadrada\ 1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.sectionProducts #product-2 .part-1::before {
    background: url("../img/img\ cuadrada\ 2.jpg") no-repeat center;
    background-size: cover;
}

.sectionProducts #product-3 .part-1::before {
    background: url("../img/img\ cuadrada\ 3.jpg") no-repeat center;
    background-size: cover;
}

.sectionProducts .single-product .part-1 .discount,
.sectionProducts .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: rgb(84, 99, 72);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.sectionProducts .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.sectionProducts .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.sectionProducts .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.sectionProducts .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.sectionProducts .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.sectionProducts .single-product .part-1 ul li a:hover {
    background-color:  #546348;
    color: white;
}

.sectionProducts .single-product .part-2 .product-title {
    font-size: 1rem;
}

.sectionProducts .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.sectionProducts .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.sectionProducts .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}



ul{
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}

/*--------------------------------------------------------- Alumnos / Staff ---------------------------------------------------------*/

.alumnos{
    width: 70%;
    margin: 10rem auto;
}

.our-team{
    text-align: center;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}
.our-team .pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{ opacity: 1; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .redes{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .redes{ opacity: 1; }
.our-team .redes li{ display: inline-block; }
.our-team .redes li a{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}
.our-team .redes li a:hover{
    background: #fff;
    color: #000;
}
.our-team .team-content{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ddd;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .team-content{ border: 2px dotted #546348; }
.our-team .team-info{
    width: 100%;
    color: #464646;
    position: absolute;
    bottom: 12px;
    left: 0;
}
.our-team .title{
    font-size: 20px;
    font-weight: 600;
    color: #464646;
    margin: 0 0 5px 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .title{ color: #546348; }
.our-team .post{
    display: block;
    font-size: 14px;
    color: #464646;
}

/*--------------------------------------------------------- Contacto / Formulario ---------------------------------------------------------*/

*{
  outline: none;
  box-sizing: border-box;
}

.fondo{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact{
  max-width: 800px;
  background: rgb(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  width: 800px;
  height: 700px;
  max-height: 700px;
  padding: 25px 40px 10px 40px;
}

.container .text{
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  background-color: #546348;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social h2{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    background-color: #546348;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 3rem;
  }

.container form{
  padding: 30px 0 0 0;
}

.container form .form-row{
    display: block;
}

form .form-row .input-data{
  width: 100%;
  height: 40px;
  margin: 2rem 20px;
  position: relative;
}

form .form-row .textarea{
  margin-top: 4rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-data input,
.textarea textarea{
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0,0,0, 0.12);
  background-color: transparent;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
  transform: translateY(-20px);
  font-size: 14px;
  color: #546348;
}

.textarea textarea{
  resize: none;
  padding-top: 10px;
}

.input-data label{
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.textarea label{
  width: 100%;
  bottom: 30px;
  background-color: transparent;
}

.input-data .underline{
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #546348;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
  transform: scale(1);
}

.submit-btn .input-data{
  overflow: hidden;
  height: 45px!important;
  width: 25%!important;
}

.submit-btn .input-data .inner{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(right, #91aa7c, #546348, #91aa7c, #546348);
  transition: all 0.4s;
}

.submit-btn .input-data:hover .inner{
  left: 0;
}

.submit-btn .input-data input{
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.social{
    margin: 3rem auto;
    text-align: center;
    background: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 800px;
    padding: 3rem;
}

.socialmedia{
    display: flex;
    margin: 2rem auto;
    column-gap: 5rem;
    background: -webkit-linear-gradient(right, #91aa7c, #546348);
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
}

.socialmedia:has(a:hover) a:not(:hover){
    scale: 0.8;
    opacity: 0.8;
    filter:blur(4px)
}

.socialmedia a{
    font-size: 35pt;
    color: #FFFFFF;
    cursor: pointer;
    transition: scale 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in;

    &:hover{
        scale: 1.2;
    }
}




/* boton cantidad de productos  */


.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector button {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

.quantity-selector input[type="number"] {
    width: 50px;
    padding: 0.375rem 0.75rem;
    text-align: center;
    border: 1px solid red;
}

.quantity-selector button:hover {
    background-color: #f0f0f0;
}

.quantity-selector button.quantity-decrease {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.quantity-selector button.quantity-increase {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}



/* fin de cantidad de productos */