@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    justify-content: center;
    display: flex;
}

.banner {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.background {
    width: 100%;
    height: auto;
    display: block;
}


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: rgba(79, 79, 79, 0.5);
    backdrop-filter: blur(20px);
}

.secciones ul{
    display: inline-flex;
}

.listaNav li{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
}

.listaNav li a{
    color: white;
    text-decoration: none;
}

.shop button{
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
}

.info {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: white;
    width: 50%;
}

.pExplore{
    padding: 10px 0px;
}

.explore{
    background-color: white;
    padding: 10px;
    color: black;
    text-decoration: none;
}


.catGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 40px;
}

.card {
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:hover::before {
    opacity: 1;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.about{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
.imagen img{
    width: 40vw;
}

.infoAbout{
    width: 40%;
    justify-content: center;
    align-items: center;
}
.Contenido{
    margin: 150px;
}

.infoSec3{
    display: grid;
    grid-template-columns: 65% 25%;
    justify-content: space-between;
}

.section3{
    margin-top: 150px;
}

.section3img img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.infoSec3 p{
    color: rgb(182, 182, 182);
    font-weight: 600;
}
.frase p{
    color: rgb(182, 182, 182);
    font-weight: 600;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}

.destacados{
    margin-top: 150px;
}

.guide{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.imgGuide{
    max-width: 100%;
}

.textGuide{
    padding: 20px
}

.textGuide p, .textGuide h2{
    padding: 20px
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 0;
    margin: auto;
    background-color: #e5e5e5;
    padding: 15px 5vw 0px 5vw;
    font-size: 0.8rem;
}

.footerUl{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footerUl li{
    padding: 10px;
    text-decoration: none;
    list-style: none;
}

.footerUl li a{
    text-decoration: none
}

/*--------------------------------------------------------- Seccion: Productos ---------------------------------------------------------*/

.carousel{
    margin-bottom: 5rem;
}

/*--------------------------------------------------------- Botones ---------------------------------------------------------*/

.button-exp {
    align-items: center;
    background-color: rgba(240, 240, 240, 0.26);
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    justify-content: center;
    line-height: 28px;
    padding: 14px 22px;
    text-decoration: none;
    transition: all .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .textGuide .button-exp{
    margin: 0 20px;
  }
  
  .button-exp:active,
  .button-exp:hover {
    outline: 0;
  }
  
  .button-exp:hover {
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.19);
  }
  
  @media (max-width: 768px) {
    .button-exp {
      font-size: 20px;
      min-width: 200px;
      padding: 14px 16px;
    }
  }

/*--------------------------------------------------------- Otra cosa we ---------------------------------------------------------*/

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: white;
}

.sectionProducts {
    padding: 80px 0 54px;
}

.sectionProducts .header {
    margin-bottom: 50px;
}

.sectionProducts .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.sectionProducts .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.sectionProducts .single-product {
    margin-bottom: 26px;
}

.sectionProducts .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.sectionProducts .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.sectionProducts .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.sectionProducts #product-1 .part-1::before {
    background: url("../img/img\ cuadrada\ 1.jpg") no-repeat center;
    background-size: cover;
		transition: all 0.3s;
}

.sectionProducts #product-2 .part-1::before {
    background: url("../img/img\ cuadrada\ 2.jpg") no-repeat center;
    background-size: cover;
}

.sectionProducts #product-3 .part-1::before {
    background: url("../img/img\ cuadrada\ 3.jpg") no-repeat center;
    background-size: cover;
}

.sectionProducts .single-product .part-1 .discount,
.sectionProducts .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: rgb(84, 99, 72);
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.sectionProducts .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.sectionProducts .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.sectionProducts .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.sectionProducts .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.sectionProducts .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.sectionProducts .single-product .part-1 ul li a:hover {
    background-color:  #546348;
    color: white;
}

.sectionProducts .single-product .part-2 .product-title {
    font-size: 1rem;
}

.sectionProducts .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.sectionProducts .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.sectionProducts .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}



ul{
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}

/*--------------------------------------------------------- Alumnos / Staff ---------------------------------------------------------*/

.alumnos{
    width: 70%;
    margin: 10rem auto;
}

.our-team{
    text-align: center;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}
.our-team .pic{
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.our-team .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic:after{ opacity: 1; }
.our-team .pic img{
    width: 100%;
    height: auto;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .social{ opacity: 1; }
.our-team .social li{ display: inline-block; }
.our-team .social li a{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 30px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.5s ease 0s;
}
.our-team .social li a:hover{
    background: #fff;
    color: #000;
}
.our-team .team-content{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px dotted #ddd;
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease 0s;
}
.our-team:hover .team-content{ border: 2px dotted #546348; }
.our-team .team-info{
    width: 100%;
    color: #464646;
    position: absolute;
    bottom: 12px;
    left: 0;
}
.our-team .title{
    font-size: 20px;
    font-weight: 600;
    color: #464646;
    margin: 0 0 5px 0;
    transition: all 0.5s ease 0s;
}
.our-team:hover .title{ color: #546348; }
.our-team .post{
    display: block;
    font-size: 14px;
    color: #464646;
}